#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

h1 {
	margin: 0 0 1.5rem 0;
}

h2 {
	display: inline-flex;
	font-size: 2.5rem;
	background-color: #6f6f6f;
	padding: 8px 16px;
	border-radius: 24px;
	margin: 0;
}

h2 * {
	color: rgba(255, 255, 255, 0.87);
	font-weight: 1000;
	padding: 0 0.5rem;
	margin: 0;
}

@media (prefers-color-scheme: dark) {
	h2 * {
		color: #213547;
	}
}
